/**********************************************************
* Open Sans
**********************************************************/

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

/**********************************************************
* PT Serif
**********************************************************/

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif/PTSerif-Regular.woff2') format('woff2'),
		url('../fonts/PTSerif/PTSerif-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif/PTSerif-Italic.woff2') format('woff2'),
		url('../fonts/PTSerif/PTSerif-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif/PTSerif-Bold.woff2') format('woff2'),
		url('../fonts/PTSerif/PTSerif-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTSerif/PTSerif-BoldItalic.woff2') format('woff2'),
		url('../fonts/PTSerif/PTSerif-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}


/**********************************************************
* General
**********************************************************/
* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open sans', helvetica, arial, sans-serif;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 1.8rem;
	color: #222;
	background-color: #fafafa;
}

@media(min-width: 37.5em) {
  body {
		font-size: 2.2rem;
	}
}

a:link,
a:visited {
	color: #222;
}

a:hover,
a:focus {
	text-decoration: none;
}

.site-main {
	background-color: white;
}


/**********************************************************
* Header
**********************************************************/
.site-nav {
	display: flex;
	overflow: hidden;
	padding: 2rem;
	max-width: 70rem;
	margin: 0 auto;
	font-size: 1.5rem;
}

.home-link {
	text-decoration: none;
	font-weight: bold;
	margin-right: auto;
}

.site-nav-link {
	margin-left: 1rem;
	margin-right: 1rem;
	text-decoration: none;
}

.site-nav-link:hover,
.site-nav-link:active {
	color: #eb4f40;
}

.site-nav-link-active {
	border-bottom: 1px solid #eb4f40;
}

/**********************************************************
* Content
**********************************************************/
.content {
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
	padding: 8rem 2rem;
}

.content h1 {
	font-size: 3rem;
	letter-spacing: -1px;
}

.content h2 {
	font-size: 2.4rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	letter-spacing: -1px;
}

.content h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.content p {
	line-height: 1.6;
	margin-bottom: 3.4rem;
	font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	.content h1 {
		font-size: 4.4rem;
	}

	.content h2 {
		font-size: 2.8rem;
	}
}

.content ol,
.content ul {
	margin-bottom: 3rem;
	font-family: 'PT serif';
}

.content ol li,
.content ul li {
	line-height: 2;
	margin-left: 3rem;
}

.content blockquote {
	font-style: italic;
	margin-bottom: 3rem;
	padding: 0 20px;
}

.content blockquote cite {
	font-weight: bold;
}

.content code {
	font-size: 2rem;
	color: #eb4f40;
}

.content pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 1.8rem;
	background-color: #fafafa;
	margin-bottom: 3rem;
	padding: 2rem;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	border-left: 4px solid #eb4f40;
}

@media(min-width: 37.5em) {
	.content code {
		font-size: 2.2rem;
		color: #eb4f40;
	}

	.content pre {
		font-size: 2rem;
		margin-bottom: 45px;
	}
}


/**********************************************************
* Hero
**********************************************************/

.hero {
	padding: 50px;
	text-align: center;
}

.hero-logo {
	display: block;
	margin: 0 auto;
	width: 8rem;
}

.hero h1 {
	font-size: 2.8rem;
	line-height: 1.8;
	text-align: center;
}

.hero p {
	text-align: center;
	font-size: 1.8rem;
	line-height: 1.4;
	font-family: 'PT serif';
	max-width: 56rem;
	margin: 0 auto 2rem auto;
}

@media(min-width: 37.5em) {
	.hero-logo {
		width: 16rem;
	}

	.hero h1 {
		font-size: 4rem;
	}

	.hero p {
		font-size: 2.2rem;
	}
}

/**********************************************************
* Articles
**********************************************************/

.articles {
	background-color: #fafafa;
	padding: 4rem 2rem;
}

.articles-inner {
	max-width: 70rem;
	margin: 0 auto;
}

.articles h2 {
	font-size: 2.2rem;
	margin-bottom: 1rem;
}

.articles ul {
	margin-left: 2rem;
	line-height: 1.6;
	font-family: 'PT serif';
}

@media(min-width: 37.5em) {
	.articles h2 {
		font-size: 2.8rem;
	}
}

/**********************************************************
* Others
**********************************************************/

.more-articles {
  text-align: center;
}

p.details {
  font-size: 1.6rem;
  color: #444;
}

pre.terminal {
  background-color: #222;
  color: #fff;
}

pre.terminal .danger {
  color: red;
}

/**********************************************************
* Footer
**********************************************************/

.footer {
	padding: 2rem;
	overflow: hidden;
	max-width: 70rem;
	margin: 0 auto;
	text-align: center;
}

.footer p {
	font-size: 1.5rem;
}
