<nav class="site-nav" role="banner">
	<a class="home-link" href="{{ "/" | prepend: site.url }}">{{ site.title }}</a>

	<a class="site-nav-link {% if (page.id == 'about' or page.id == 'acerca-de-mi') %}site-nav-link-active{% endif%}"
			 href="/acerca-de-mi">Acerca de mi</a>

	{% if site.github_username %}
		<a class="site-nav-link"
			 href="https://github.com/{{ site.github_username }}" title="Github">Github</a>
	{% endif %}

	{% if site.linkedin_username %}
		<a class="site-nav-link"
			 href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">LinkedIn</a>
	{% endif %}
</nav>
