<header class="header" role="banner">
	<nav class="navigation">
		<a class="logo" href="{{ "/" | prepend: site.url }}">{{ site.title }}</a>

		<a class="header-link {% if page.id == 'about' %}header-link-isActive{% endif%}"
			 href="/acerca-de-mi">Acerca de mi</a>

		{% if site.github_username %}
			<a class="header-link"
				 href="https://github.com/{{ site.github_username }}" title="Github">Github</a>
		{% endif %}

		{% if site.linkedin_username %}
			<a class="header-link"
				 href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">LinkedIn</a>
		{% endif %}
	</nav>
</header>
